<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/registros.css">
</head>
<body>
  <div class="formularioRegistro">
    <h2>Registro de Usuario</h2>
    <form id="registerForm">
      <label>Usuario</label>
      <input type="text" id="username" placeholder="Ingresa tu Nombre de Usuario" required>

      <label>Correo</label>
      <input type="email" id="email" placeholder="Ingresa tu Correo" required>

      <label>Contraseña</label>
      <input type="password" id="password" placeholder="Ingresa tu Contraseña" required>

      <label>RUT</label>
      <input type="text" id="rut" placeholder="Ej: 12345678-9" required>

      <label>Teléfono</label>
      <input type="tel" id="telefono" placeholder="Ej: 9 1234 5678" required>

      <label>Dirección</label>
      <input type="text" id="direccion" placeholder="Ingresa tu Dirección" required></input>

      <label>Comuna</label>
      <input type="text" id="ciudad" placeholder="Ingresa tu Comuna" required>

      <label>Región</label>
      <select id="region" required>
        <option value="" disabled selected>Selecciona tu Región</option>
        <option value="Arica y Parinacota">Arica y Parinacota</option>
        <option value="Tarapacá">Tarapacá</option>
        <option value="Antofagasta">Antofagasta</option>
        <option value="Atacama">Atacama</option>
        <option value="Coquimbo">Coquimbo</option>
        <option value="Valparaíso">Valparaíso</option>
        <option value="Metropolitana">Metropolitana</option>
        <option value="O'Higgins">O'Higgins</option>
        <option value="Maule">Maule</option>
        <option value="Ñuble">Ñuble</option>
        <option value="Biobío">Biobío</option>
        <option value="La Araucanía">La Araucanía</option>
        <option value="Los Ríos">Los Ríos</option>
        <option value="Los Lagos">Los Lagos</option>
        <option value="Aysén">Aysén</option>
        <option value="Magallanes">Magallanes</option>
      </select>

      <p id="message"></p>
      <button type="submit" class="btnRegistro">Registrarse</button>
    </form>
  <div class="linkLogin">
    <span>¿Ya tienes una cuenta?</span>
    <a href="login.html">Inicia Sesión</a>
  </div>
  </div>
  <br>
  
  <script src="../js/Sesiones/registro.js"></script>
</body>

</html>