<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/registros.css">
</head>
<body>
  <div class="formularioRegistro">
    <h2>Registro de Usuario</h2>
    <form id="registerForm">
      <label>Usuario</label>
      <input type="text" id="username" placeholder="Ingresa tu Nombre de Usuario" required>

      <label>Correo</label>
      <input type="text" id="email" placeholder="Ingresa tu Correo" required>

      <label>Contraseña</label>
      <input type="password" id="password" placeholder="Ingresa tu Contraseña" required>
      <p id="message"></p>
      <button type="submit" class="btnRegistro">Registrarse</button>
    </form>
  <div class="linkLogin">
    <span>¿Ya tienes una cuenta?</span>
    <a href="login.html">Inicia Sesión</a>
  </div>
  </div>
  <br>
  
  <script src="../js/Sesiones/registro.js"></script>
</body>
</html>