.carrito-container {
    position: relative;
    display: inline-block;
}

.carrito-icono {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.carrito-dropdown {
    position: absolute;
    top: 100%; /* justo debajo del icono */
    left: 0;
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 100;
    border-radius: 6px;
    padding: 10px;
    color: black;
}

.carrito-dropdown table {
    width: 100%;
    border-collapse: collapse;
}

.carrito-dropdown th,
.carrito-dropdown td {
    font-size: 14px;
    color: black;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
    font-weight: bold;
}


.oculto {
    display: none;
}

.carrito-dropdown input[type="number"] {
    width: 60px;
}

.carrito-dropdown .btn {
    background-color: red;
    color: white;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
}

.carrito-dropdown .btn:hover {
    background-color: darkred;
}