* {
  color: white;
}
body {
    font-family: 'Funnel Sans', sans-serif;
    font-size: 18px;
    background: linear-gradient(to right, #2D6D52, #10534D, #10534D, #2D6D52);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}
.login-container {
    background-color: #2D6D52;
    padding: 40px 45px;
    border-radius: 30px;
    box-shadow: 0 0px 50px 50px rgba(0, 0, 0, 0.2);
    width: 480px;
    margin: 0 auto;
    min-height: unset;
    border: none;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
}
input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 25px;
    font-size: 18px;
    color: black;
    background: white;
    box-shadow: none;
}
input::placeholder {
    color: #888;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #10534D;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto 20px auto;
    transition: background-color 0.5s ease;
    font-size: 30px;
    border: none;
    box-shadow: none;
}
button:hover {
    background-color: #008B7E;
    transform: none;
}
.login-container p, .login-container span {
    color: white;
    font-weight: normal;
    font-size: 1.1em;
    text-align: center;
}
.login-container a {
    color: white;
    text-decoration: underline;
    transition: color 0.4s ease;
    font-size: 20px;
    font-weight: normal;
}
.login-container a:hover {
    color: #57D39F;
    text-decoration: underline;
}
.linkRegister {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    font-size: 20px;
}
#message {
    text-align: center;
    margin-top: 10px;
    color: red;
}
